// Place all the styles related to the contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.firstline{
    //color: #000066;
    //font-family: Tahoma;
    font-size: 13pt;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-align: center;
}

.STATUTORYAUTHORITY {
    background-color: #FFFFFF;
    //color: #025351;
    font-family: "Times New Roman",Times,serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-align: center;
}

hr {
    border-color: #025351 !important;
}